snippet macro "macro"
- #代码架构/宏
- 原型: $1
- 参数:
	- $2
- 返回值: $3
- 说明: $4
- 备注: $5
endsnippet

snippet g_var "global variable"
- #代码架构/全局变量
- 定义: $1
- 说明: $2
- 初始化: $3
- 备注: $4
endsnippet

snippet func "function"
- #代码架构/函数
- 原型: $1
- 参数:
	- $2
- 返回值: $3
- 说明: $4
- 备注: $5
endsnippet

snippet typedef "struct"
- #代码架构/类型
- 原型: $1
- Field:
	- $2
- 说明: $3
endsnippet

